CompileFlags:
  Add: [
    -I/home/alex/projects/sipserver/include/webrtc/common_audio/signal_processing/include,
    -I/home/alex/projects/sipserver/build/pjproject_install/include,
    -I/home/alex/vcpkg/installed/x64-linux/share/websocketpp/../../include,
    -I/home/alex/projects/sipserver/include/webrtc,
    -I/home/alex/projects/sipserver/include,
    -I/usr/include/c++/14,  # Add standard library paths from compiler output
  ]
